.detail-selector {
    box-shadow: inset 0px 0px 1px 0px $color-grey-dark;

    .detail-selector-content {
        width: 160px;
        padding: 0 10px;
        box-sizing: border-box;
        position: relative;

        .detail-selector-headline {
        
        }

        .detail-selector-list {
            list-style: none;
            margin-left: 0;
            margin-top: 20px;
            color: $color-grey-light;

            .detail-selector-list-item {
                margin-bottom: 20px;
                position: relative;

                &:hover {
                    .detail-selector-list-item-flyout {
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;

                    }
                }

                .detail-selector-list-item-image {
                    width: 100%;
                    border-radius: 5px;
                }

                .detail-selector-list-item-flyout {
                    display: none;

                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;

                    color: white;
                    background-color: rgba(0,0,0, 0.5);
                }

                .detail-selector-list-item-text {
                    line-height: 1.1rem;
                    margin-bottom: 5px;
                }
            }
        }
    }
}