.page-wrapper-detail {
    position: relative;

    .detail-button-close {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .detail-image {
        max-height: 500px;
        margin-top: 20px;
    }

    .detail-content-wrapper {
        margin: 20px auto;
        width: 700px;

        text-align: left;

        .detail-headline {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .detail-type {
            font-size: 1.2rem;
        }

        .detail-age {
            margin-top: 5px;
            font-size: 2.0rem;
        }
        
        .detail-comment {
            
        }
    }
}
