.icon {
    width: 25px;
    height: 25px;
    min-width: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

.icon-button:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-size: cover;
    left: -30px;
}

.icon-button-type-graph:before {
    background-image: url('../img/assets/Graph_ini.svg');
}

.icon-button-type-more:before {
    background-image: url('../img/assets/Zoom_in_ini.svg');
}

.icon-type-logo {
    background-image: url('../img/assets/Logo_Mittel.png');
}

.icon-type-zoom-out {
    background-image: url('../img/assets/Zoom_out_ini.svg');
}

.icon-type-close {
    background-image: url('../img/assets/Close_ini.svg');
}

.icon-type-more {
    background-image: url('../img/assets/Zoom_in_ini.svg');
}

.icon-type-herkunft {
    background-image: url('../img/assets/Steckbrief_Herkunft.svg');
}

.icon-type-fundort {
    background-image: url('../img/assets/Steckbrief_Fundort.svg');
    height: 30px;
}

.icon-type-erdzeitalter {
    background-image: url('../img/assets/Steckbrief_Erdzeitalter.svg');
}

.icon-type-gesteinsart {
    background-image: url('../img/assets/Steckbrief_Gesteinsart.svg');
    height: 20px;
}
