.icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
    background-size: contain;
}

.icon-button:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: cover;
    left: -25px;
    top: 2px;
}

.icon-button-type-graph:before {
    background-image: url('../img/assets/Graph_ini.svg');
}

.icon-type-zoom-out {
    background-image: url('../img/assets/Zoom_out_ini.svg');
}

.icon-type-close {
    background-image: url('../img/assets/Close_ini.svg');
}

.icon-type-herkunft {
    background-image: url('../img/assets/Pin_Gestein Herkunft_ini.svg');
}

.icon-type-fundort {
    background-image: url('../img/assets/Pin_Gestein Fundort_ini.svg');
    height: 48px;
}

.icon-type-erdzeitalter {
    background-image: url('../img/assets/Graph_Erdzeitalter.svg');
}

.icon-type-gesteinsart {
    background-image: url('../img/assets/Graph_Gesteinsart.svg');
    height: 29px;
}
