.link-large {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightgrey;
    height: 40px;
    margin-top: 1em;
    border-radius: 0.3em;
    text-decoration: none;

    &:first-of-type {
        margin-top: 30px;
    }

    &:active,
    &:hover {
        text-decoration: none;
        background-color: grey;
    }
}

.link-primary {
    background-color: lightblue;

    &:active,
    &:hover {
        background-color: aliceblue;
    }
}

.link-secondary {
    //TODO: Add some awesome colors! 
}

.link-text {
    position: relative;
    font-size: 1.1rem;
    font-weight: bold;
}