.link-large {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightgrey;
    height: 40px;
    margin-top: 1em;
    border-radius: 0.3em;
    text-decoration: none;

    &:first-of-type {
        margin-top: 30px;
    }

    &:active,
    &:hover {
        text-decoration: none;
        background-color: grey;
    }
}

.link-primary {
    background-color: $color-main;

    &:hover {
        background-color: darken($color-main, 25%);
    }

    &:active {
        background-color: $color-pressed;
    }
}

.link-secondary {
    background-color: $color-grey-light;

    &:hover {
        background-color: darken($color-grey-light, 25%);
    }

    &:active {
        background-color: $color-pressed;
    }
}

.link-text {
    position: relative;
    font-size: 1.1rem;
    font-weight: bold;
    color: $color-grey-dark;
}