.stone-timeline {
	// position: absolute;
	// top: 100px;
	// left: 200px;
	width: 700px;
	background-color: white;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

#ex1Slider {
	width: 90%;
	padding: 50px;
}

.slider-handle.custom::before {
	line-height: 20px;
	font-size: 20px;
	content: '\2605'; /*unicode star character*/
	color: #726204;
}

.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
	padding-left: 1.6em;
	text-align: left;
}

.slider-tick-label {
	position:relative;
	left: -63px;
  	top: -12px;
}

.slider {
	  margin-bottom: 0 !important;
}

.timeline-button-more {
  position: relative;
  top: 40px;
  left: 700px;
  width: 30px !important;
  height: 30px !important;
}

.timeline-button-close {
  position: relative;
  top: 40px;
  left: 700px;
  width: 30px !important;
  height: 30px !important;
}