<div class="page-wrapper page-wrapper-detail">

    <button class="icon icon-type-close detail-button-close" ng-click="closeDetailPage();"></button>

    <div class="detail-image-wrapper">
        <img src="img/medium/{{currentStone.img}}" alt="" class="detail-image">
    </div>
    <div class="detail-content-wrapper">
        <div class="detail-headline">{{currentStone.title}}</div>
        <div class="detail-type">{{currentStone.material}}</div>
        <div class="detail-age">{{currentStone.date_in_mya}} Millionen Jahre alt</div>
        <div class="detail-comment">{{currentStone.commentary}}</div>
    </div>

    <div class="your-class">
        <div>your content 1</div>
        <div>your content 2</div>
        <div>your content 3</div>
    </div>
</div>
