<div class="page__wrapper page__wrapper--off-canvas"
	ng-class="{
		'page__wrapper--off-canvas-active-left' : overlayLeftIsActive,
		'page__wrapper--off-canvas-active-bottom': overlayBottomIsActive
	}">
	<detailoverlay
		class="page__part--off-canvas-left"
		item="currentItem">
	</detailoverlay>

	<div class="page__part--off-canvas-main gallery" ng-click="dismissSelection();">
		<button class="gallery__order-button" ng-click="toggleGalleryOrder()"></button>
        <div class="gallery__body">
			<div class="gallery__item" ng-repeat="item in stoneData" ng-class="{'gallery__item--headline' : item.type == 'sectionHeadline'}">
				<h2 class="gallery__section-headline" ng-if="item.type == 'sectionHeadline'">
					{{item.headline}}
				</h2>
				<div class="gallery__image-wrapper" ng-if="item.type != 'sectionHeadline'">
					<img class="gallery__image" ng-attr-src="img/medium/{{ item.img }}" ng-click="selectItem( $event, item );"/>
				</div>
			</div>
        </div>
	</div>

	<div class="page__part--off-canvas-bottom">
		<timeline
			timeline-indexes="timelineIndexes">
		</timeline>
	</div>
</div>
