<div class="page__wrapper page__wrapper--off-canvas"
	ng-class="{
		'page__wrapper--off-canvas-active-left' : overlayLeftIsActive,
		'page__wrapper--off-canvas-active-left-additional': selectorIsActive,
		'page__wrapper--off-canvas-active-bottom': overlayBottomIsActive
	}">
	<detailoverlay
		class="page__part--off-canvas-left"
		item="currentItem">
	</detailoverlay>

	<detailselector
		class="page__part--off-canvas-left-additional"
		items="selectorItems"
		selected-item="currentItem">
	</detailselector>

	<div class="page__part--off-canvas-main map" ng-click="dismissSelection();">
		<leaflet
			markers="pins"
			tiles="mapboxtiles"
			center="center"
			defaults="defaults"
			width="100%"
			height="100%"
			event-broadcast="events">
		</leaflet>
	</div>

	<div class="page__part--off-canvas-bottom">
		<button class="page__part--off-canvas-bottom-handle" ng-click="toggleOverlayBottom()"></button>
		<timeline
			timeline-indexes="timelineIndexes">
		</timeline>
	</div>
</div>
