<div class="stone-timeline">
    <div class="timeline-absolute-wrapper">
        <input 
            id="ex1" 
            data-slider-id='ex1Slider' 
            type="text" 
        />
    </div>

    <div class="era-description-wrapper">
        <button class="icon icon-type-more timeline-button-more" ng-click="showLongDescription();"></button>
        <button class="icon icon-type-close timeline-button-close" ng-click="closeDescriptions();"></button>
        <div class="era-description-short"></div>
    </div>
</div>