<div class="stone-selector detail-selector" ng-class="{active:selectorIsActive}">
    <div class="detail-selector-content">
        <p class="detail-selector-headline">An diesem Ort wurden {{stones.length}} Steine gefunden</p>
        <ul class="detail-selector-list">

            <li class="detail-selector-list-item" ng-repeat="stone in stones">
                <img class="detail-selector-list-item-image" src="img/{{stone.img}}" alt="">
                <div class="detail-selector-list-item-flyout" ng-click="updateCurrentStone(stone)">{{stone.title}}</div>
            </li>
            
        </ul>

    </div>
</div>
