<div class="timeline">

    <div class="timeline__selector">
        <div class="timeline__selector-body">
            <div class="timeline__selector-time-labels"></div>
            <div class="timeline__selector-bar">
                <div class="timeline__selector-handle timeline__selector-handle--left"
                     data-is-moving=false
                     data-position="left">
                     <div class="timeline__selector-handle-link"></div>
                </div>
                <div class="timeline__selector-handle timeline__selector-handle--right"
                     data-is-moving=false
                     data-position="right">
                </div>
                <div class="timeline__selector-segment" ng-repeat="item in eraData"></div>
            </div>
        </div>
        <div class="timeline__selector-label-wrapper">
            <div class="timeline__selector-label" ng-repeat="item in eraData" data-era-id="{{item.id}}">
                <svg class="timeline__selector-label-icon" width="100%" height="100%">
                    <image xlink:href="{{item.icon}}" src="{{item.icon}}" width="100%" height="100%"/>
                </svg>
            </div>
        </div>
    </div>
</div>
