.logo {
    background-image: url("../img/assets/Logo_ohne_text.svg");
    width: 100px;
    height: 112px;
    background-size: contain;
    z-index: $z-index-6;
    position: absolute;
    left: 20px;

    transition: height 0.3s ease-in, width 0.3s ease-in;
    background-repeat: no-repeat;

    .compressed & {
        width: 50px;
        height: 50px;
    }
}

.site-title {
    font-weight: bold;
    left: 130px;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    top: 10px;

    transition: left 0.3s ease-in;

    .compressed & {
        left: 70px;
    }
}
