.page-wrapper {
    // display: flex;
    // height: 100%;

    .detail-overlay {
        transition: flex-basis 0.3s ease-in-out;
        overflow: scroll;
        flex: 1 0 0;

        &.active {
            flex: 1 0 320px;
        }
    }

    .detail-selector {
        transition: flex-basis 0.3s ease-in-out;
        overflow: scroll;
        flex: 1 0 0;

        &.active {
            flex: 1 0 160px;
        }
    }

    .map {
        flex-shrink: 1;
    }

    .page-wrapper.active {

    }
}
