/* animations */

@keyframes fadeOut {
    from    { opacity: 1.0; }
    to    { opacity: 0.0; }
}

@keyframes fadeIn {
    from    { opacity: 0.0; }
    to    { opacity: 1.0; }
}

@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

// Standard styles
.ng-leave {
    animation: slideOutLeft 0.5s both ease-in;
    z-index: $z-index-5;
}

.ng-enter {
    animation: slideInRight 0.5s both ease-in;
    z-index: $z-index-6;
}
