/* gallery */

.gallery {
    overflow: auto;
}

.gallery__body {
    @include align-content(flex-start);
    @include display-flex;
    @include flex-wrap(wrap);
    @include flex-direction(column);

    height: calc(100% - 140px);
    padding: 10px;
}

.gallery__image-item {
    display: inline-block;
    height: calc((100% - 40px) / 2);
    margin: 10px;
    max-width: 180px;
    min-width: 140px;
    overflow: hidden;
    width: 30%;

    &.ng-leave {
        animation: none;
    }

    &.ng-enter {
        animation: fadeIn 1.2s ease-in-out;
    }

    @include screenHeightBreakpointSmall {
        height: calc((100% - 60px) / 3);
        max-width: 240px;
        min-width: 200px;
    }

    @include screenHeightBreakpointMedium {
        height: calc((100% - 80px) / 4);
        max-width: 280px;
    }

    @include screenHeightBreakpointLarge {
        height: calc((100% - 100px) / 5);
        max-width: 330px;
    }
}

.gallery__image-wrapper {
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: $z-index-2;
}

.gallery__image {
    @include transform(translate(-50%, -50%) scale(1));
    @include transition(transform 0.3s ease);

    backface-visibility: hidden;
    display: block;
    left: 50%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    width: 100%;

    &:hover {
        @include transform(translate(-50%, -50%) scale(2));
    }
}
